h1{
    color: darkgreen;
    font-size: 40px;
    font-family: ‘Arial’;
}
h3{
    color: green;
    font-size: 30px;
    font-family: 'Calibri';
}
h6{
    font-family: 'Georgia';
}
p{
    font-family: 'Сломанный шрифт', sans-serif;
background-color: darkgreen;
color: white;
}
ul{
    list-style-type: circle;
}
li{
    margin-bottom: 10px;
    font-family: 'Consolas';
}
a{
  color: green;
  font-family: 'Verdana';
  font-size: 20px 
}